@media (min-width: 576px) {
  .section1-image1-576, .section1-image2-576, .section1-image3-576 { display: block; }
  .section1-image1-mo, .section1-image1-768, .section1-image1-1400,
  .section1-image2-mo, .section1-image2-768, .section1-image2-1400,
  .section1-image3-mo, .section1-image3-768, .section1-image3-1400 { display: none; }

  .section2-image1-576, .section2-image2-576, .section2-image3-576, .section2-image4-576 { display: block; }
  .section2-image1-mo, .section2-image1-768, .section2-image1-1400,
  .section2-image2-mo, .section2-image2-768, .section2-image2-1400,
  .section2-image3-mo, .section2-image3-768, .section2-image3-1400,
  .section2-image4-mo, .section2-image4-768, .section2-image4-1400 { display: none; }

  .section2-icon1-576 { display: block; position: absolute; bottom: 10px; left: 0; z-index: 3; }
  .section2-icon1-mo, .section2-icon1-360, .section2-icon1-768, .section2-icon1-1400 { display: none; }
  .section2-icon2-576 { display: block; position: absolute; top: -40px; right: 0; z-index: 3; }
  .section2-icon2-mo, .section2-icon2-360, .section2-icon2-768, .section2-icon2-1400 { display: none; }

  #section3 { padding: 80px 0; }
  .section3-icon1-mo { display: none; }
  .section3-icon1-576 {
    display: inline-block;
    position: absolute; top: -50px; left: 30%; transform: translateX(-50%); z-index: 2;
  }
  #wifi { display: block; position: absolute; top: 70px; left: 50%; transform: translateX(-50%); }
  .wifi { border: 8px solid transparent; border-radius: 400px; }
  .portfolioText {
    font: 48px/44px Aller_bold; letter-spacing: 1.63px; margin-top: 95px;
    background: linear-gradient(to bottom, #ffffff, #ffffff 20%, #72BF44 40%, #72BF44 60%, transparent 80%, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-position: 0 100%;
    background-size: 100% 600%;
  }

  @keyframes bounce {
    0%,100%{ transform: translate(-50%, 0px); }
    25% { transform: translate(-50%, -20px); }
    75% { transform: translate(-50%, 20px); }
  }
  .bounce {
    animation: bounce 4s linear infinite;
  }

  @keyframes crescendo {
    0% { border-bottom: 8px solid transparent;}
    100% {border-bottom: 8px solid #72BF44;}
  }
  .crescendo {
    animation: crescendo 1s forwards;
  }

  @keyframes textappear {
    0% { background-position: 0 100%; }
    100% { background-position: 0 50%; }
  }
  .textappear {
    animation: textappear 4s forwards;
  }

  @keyframes decrescendo {
    0% { border-bottom: 8px solid #72BF44;}
    100% {border-bottom: 8px solid transparent;}
  }
  .decrescendo {
    animation: decrescendo 1s forwards;
  }
  .one { animation-delay: .9s; }
  .two { animation-delay: .6s; }
  .three { animation-delay: .3s; }

  @keyframes textwhite {
    0% { background-position: 0 50%; }
    100% { background-position: 0 0; }
  }
  .textwhite {
    animation: textwhite 4s forwards;
  }

  #portfolioSection { max-width: 1088px; margin: 45px auto 0; }
  #portfolioRow { margin: 0; }
  .portfolioPadding { padding: 7px; width: 33.333333%; }
  .portfolioHover { display: block; }
  .portfolioTitle { display: none; }
  .portfolioMo { display: none; }
  #laodMorePost { width: 285px; height: 60px; margin-top: 45px; font: 20px Lato_light; letter-spacing: 0.68px; }

  .section4-icon1-mo { display: none; }
  .section4-icon1-576 { display: inline-block; }
  .partnerText { font: 48px/44px Aller_bold; letter-spacing: 1.63px; margin-top: 45px; color: #060C24; }
  #partnerSection { max-width: 1088px; margin: 45px auto 0; }
  .partnerPadding { padding: 5px; width: 25%; }

  #mapContainer { max-width: none; margin: 50px auto 0; }
  #map { width: 100%; height: 370px; }

  footer {
    padding: 30px 0; font: 20px Apple_light; color: #080D24; letter-spacing: 0.52px;
  }
}
